.maincard{
    width: 40vh;
    height: 130px;
    margin-top: 10px;
    margin-right: 10px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 8px;
    color: rgb(71, 71, 71);

}
.title{
    color:rgb(153, 58, 45);
}
.maincard:hover{
    background-color:rgba(114, 117, 117, 0.11);
    border: 1px solid rgb(194, 194, 194);
    border-radius: 10px;
    cursor: pointer;

}
.flex{
    display: flex;
}
.card{
    margin: 8px;
    padding: 5px;
    /* border: 1px solid black; */
}
.ana{
    width: 100%;
    height: 40vh;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 8px;
    margin-top: 20px;
padding: 20px;
color: rgb(71, 71, 71);

}
.ana h1{
color:rgb(153, 58, 45);
text-align: center;
}