.Main-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 5px;
    /* background-color: rgb(247, 247, 247); */
    background:linear-gradient(rgb(193, 193, 226), rgb(235, 226, 228));
}
.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:rgb(153, 58, 45);
}
.Main-head ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.Main-head ul li{
    list-style: none;
    padding: 3px;
    margin-right: 30px
}
input{
    border: none;
    height: 25px;
    width: 250px;
    border-radius: 15px;
    padding: 5px 12px;
}
h2{
    margin-left: 23px;
}